fastai
https://download.pytorch.org/whl/cpu/torch-1.5.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
boto3==1.13.19
botocore==1.16.19
Flask==1.1.2
gunicorn==20.0.4
Jinja2==2.11.3
